<ion-view view-title="{{group.name}}">
  <ion-content>
    <!-- <ion-list>
      <ion-item class="item item-divider" ng-repeat="network in group.networks" href="#/app/playlists/{{playlist.id}}">
        {{network.name}}
      </ion-item>
    </ion-list> -->


    <div class="list">

    <a class="item item-thumbnail-left" ng-repeat="network in group.networks" href="#/app/playlists/{{playlist.id}}" >
      <img src="cover.jpg">
      <h2> {{network.name}}</h2>
      <p> {{network.description}}</p>
    </a>
</div>

  </ion-content>
</ion-view>
