<ion-view view-title="{{mobile.name}}">
<ion-content>
<!-- <ion-list>
<ion-item class="item item-divider" ng-repeat="network in group.networks" href="#/app/playlists/{{playlist.id}}">
{{network.name}}
</ion-item>
</ion-list> -->
<div class="list">
	<a class="item item-thumbnail-left" ng-repeat="network in mobile.networks" href="#/app/sub/:{{$index}}" ng-click="setSubId($index)" >
		<img src="img/ionic.png">
		<h2>{{network.name}}</h2>
		<p>{{network.description}}</p>
	</a>
</div>
</ion-content>
</ion-view>