<ion-view view-title="{{items.name}}">

    <ion-content>
        <!-- <ion-list>
<ion-item class="item item-divider" ng-repeat="network in group.networks" href="#/app/playlists/{{playlist.id}}">
{{network.name}}
</ion-item>
</ion-list> -->
        <ion-list>
            <ion-item ng-repeat="item in items" href="#/app/mobileitem" class="item-icon-right" ng-click="setItem(this.item)">
                {{item.name}}
                <p>{{item.description}}</p>
                <a click-for-options class="icon ion-navicon"></a>
                <ion-option-button class="button-calm" ng-click="edit(item)">
                    Send
                </ion-option-button>
                <ion-option-button class="button-energized" ng-click="edit(item)">
                    <i class="icon ion-star"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
