<ion-view view-title="">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in items | filter:search" href="#/app/mobileitem/:{{$index}}" class="item-icon-right" ng-click="setItem(this.item)">
                {{item.name}}
                <p>{{item.description}}</p>
                <p>P {{item.price}} / {{item.validity}}</p>
                <a click-for-options class="icon ion-navicon"></a>
                <ion-option-button class="button-calm" ng-click="edit(item)">
                    Send
                </ion-option-button>
                <ion-option-button class="button-energized" ng-click="edit(item)">
                    <i class="icon ion-star"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left">
        <div class="buttons">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="search">
            </label>
        </div>
        <h1 class="title"></h1>
        <div class="buttons" ng-click="doSomething()">
            <button class="button">Filter</button>
        </div>
    </ion-footer-bar>
</ion-view>
