.scroll-content{
  
}

.greytilebg {
	background-image: url('../img/grey.png');
    background-repeat: repeat;

}

.center.con {
    margin: auto;
    width: 100%;
    padding: 10%;
    padding-top: 30%;
    text-align: center;
}
.menu-icon {
	margin-right: 5px;

}

.item {
	background-color: transparent;
	border-style: none;
}


.item-complex .item-content, .item-radio .item-content {
	background-image: url('../img/grey.png');
	border-style: none;
}
